.input {
  font-family: "Basis Grotesque Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33333;
  color: #a1abb5;

  border: 1.2px solid #d3d8dc;
  border-radius: 6px;
  padding: 0px 12px;
  min-width: 300px;
  height: 48px;
  background: #fff;
  outline: none;
}

@media screen and (min-width: 767.98px) {
  .input {
    width: 400px;
  }
}
