.title {
  font-family: "Basis Grotesque Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33333;
  text-align: center;
  color: #060e1e;
}

.link {
  font-weight: 500;
  color: #316fea;
}
