.wrapper__logo {
  margin-bottom: 80px;
}

.wrapper__title {
  margin-bottom: 40px;
}

.wrapper__decor {
  margin-bottom: 38px;
}

.wrapper__email {
  margin-bottom: 25px;
}

.wrapper__password {
  margin-bottom: 30px;
  position: relative;
}

.wrapper__button {
  margin-bottom: 20px;
}

.wrapper__forgot {
  margin-bottom: 30px;
  cursor: pointer;
}

.forgot {
  font-family: "Basis Grotesque Pro", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  text-align: right;
  color: #316fea;
}

.wrapper__new {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.password {
  color: #060e1e;
  font-family: "Basis Grotesque Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px; /* 140% */
  letter-spacing: -0.036px;

  text-align: start;
  margin-bottom: 8px;
}

.box {
  position: relative;
}
